{% extends 'bootstrap/base.html' %}

<!-- heredamos del base.html de bootstrap sin sobrescribirlo -->
{% block head %}
    {{super()}}
<!-- mejor dejar esto en una sola linea es mas legible-->   
    <title>
        {% block title %} Su madre patria | {% endblock %}
    </title>
    
    <!-- archivo de estilos-->
    <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}


{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block content%}{% endblock%}
{% endblock %}





