<!-- se hereda del base.html e importamos macros -->
{% extends 'base.html'%}
{% import 'macros.html' as macros%}

<!-- super() permite anadir esta parte al bloque de titulo sin sobreescribir lo que viene del base.html-->
{% block title%}
    {{super()}}
    Consultas
{% endblock%}


<!-- Bloque content debe existir en base.html para que pueda renderiar el contenido-->
{% block content%}

    <h1>Consultas por Lenguaje:{{languaje}}</h1>
    <h4> Esta lista fue renderizada usando Macros</h4>

    <ul>
        {{macros.render_list(names)}}
    </ul>

    <a href="{{url_for('welcome')}}">Ir al home</a>
{% endblock%}