<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mi proyecto</title>
</head>
<body>
    {% if user_ip %}
        <h1>Hello world, your IP is {{user_ip}}</h1>
    {% else %}
        <a href="{{url_for('index')}}">Ir a inicio</a>
        
        <ul>
            {% for fruit in fruits %}
                <li>{{fruit}}</li>
            {% endfor %}
        </ul>
    

    {% endif %}

    <ul>
        {% for item in python_dev_list %}
            <li>{{item}}</li>
        {% endfor%}
    </ul>
</body>
</html>