<!-- se hereda del base.html -->
{% extends 'base.html'%}

<!-- importamos macros.html como una sola variable llamada macros-->
<!-- el macro se usa en el ciclo for -->
{% import 'macros.html' as macros %}

<!-- super() permite anadir esta parte al bloque de titulo sin sobreescribir lo que viene del base.html-->
{% block title%}
    {{super()}}
    Hello 
{% endblock%}

<!-- el bloque content debe existir tambien en el base.html para que pueda renderiar la informacion aqui mostrada-->
{% block content%}
    {% if user_ip %}
        <h1>Hello world, your IP is {{user_ip}}</h1>
    {% else %}
        <a href="{{url_for('index')}}">Ir a inicio</a>
    {% endif %}

    <div class='container'>
        
        <!-- Esta forma es un poco mas complicada, solo la mostramos a manera de ejemplo-->
        <form action="{{ url_for('hello')}}" method="POST">
            {{login_form.username.label}}
            {{login_form.username}}
        </form>
    </div>


    {% for fruit in fruits %}
        {{macros.render_fruit(fruit)}}
    {% endfor %}

    

{% endblock%}