<!--
<nav>
    <ul>
        <img src="{{url_for('static', filename='images/platzi.png')}}" alt="logo platzi">
        <li><a href="{{url_for('welcome')}}">Ir al home</a></li>
        <li><a href="{{url_for('querries')}}">Ir al Consultas</a></li>
        <li><a href="https://cambiocolombia.com/" target="blank">Ir a Cambio</a></li>
    </ul>
</nav>

-->

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--Icono-->
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/platzi.png') }}"
                     style="max-width: 32px"
                     alt="logo platzi">
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--Las demas opciones-->
                <li><a href="{{ url_for('welcome') }}">Inicio</a></li>
                <li><a href="{{url_for('querries')}}">Consultas</a></li>
                <li><a href="https://miappflask.herokuapp.com/" target="_blank">Aplicacion</a></li>
            </ul>
        </div>
    </div>
</div>