<!--Se hereda del base.html de Bootstrap -->
{% extends 'bootstrap/base.html' %}

<!-- heredamos del base.html de bootstrap sin sobrescribirlo -->
{% block head%}
    {{super()}}


    <title>
        {% block title%} Coronapp |{% endblock%}
    </title>

    <!-- archivo de estilos-->
    <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css')}}">

{% endblock%}


{% block body%}
    {% block navbar%}
        {%include 'navbar.html'%}
    {% endblock%}

    {% block content%}
        <!--Contendio de los otros templates-->
    {% endblock%}
{% endblock%}

